.btn-dashboard{
    background: linear-gradient(359.57deg, #F5F6F9 10.29%, #FFFFFF 99.27%);
/* secondary button */

    border: 1px solid #D5DCE6;
    box-sizing: border-box;
    border-radius: 4px;
}

.activate{
    border-bottom: 2px solid #19B9FD ;
}

.wholeContent{
    width: 85.5%;
}

hr{
    position: relative;
    top: 4px;
}

.list-inline-item{
    position: relative;
    top: 20px;
}