* {
    margin: 0;
    padding: 0;
  }

/*home onboarding*/
.onboard{
    position: absolute;
    left: 30.5rem;
    display: flex;
    justify-content: flex-start;
}
 .btn{
    font-family: Europa;
    font-size: 84%;
    line-height: 18px;
    position: absolute;
    width: 100px;
    height: 36px;
    left: 571px;
    border-radius: 4px;
    background: linear-gradient(180deg, #2E7CFF 0%, #1B63DC 100%);
}
.cform{
  width: 543px;
  position: absolute;
  left: 444px;
  top: 164px;
  box-sizing: border-box;
  border-radius: 4px;

}
.tag{
  position: relative;
  width: 100%;
  height: 17px;
  left: 243px;
  top:44px;
  font-size: 28px;
  line-height: 37px;
  font-family: Europa;

}
