* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

/* 
#sidebar.active {
    margin-left: -12rem;
}

#sidebar {

} */

/* @media (max-width: 768px) {
    .sidebar {
        margin-left: -250px;
    }
    .sidebar.active {
        margin-left: 0;
    }
} */

/*home onboarding*/
.onboard {
    margin-left: 12rem;
    display: flex;
    /* justify-content: center; */
    width: 100%;
}




/* .onboard{
    position: absolute;
    left: 30.5rem;
    display: flex;
    justify-content: flex-start;
}
  
  .new{

  }
  .btn-primary{
margin-right:;
  }
 .btn{
    font-family: Europa;
    font-size: 84%;
    line-height: 18px;
    text-align: center;
    position: absolute;
    width: 117px;
    height: 36px;
    left: 571px;
    border-radius: 4px;
    background: linear-gradient(180deg, #2E7CFF 0%, #1B63DC 100%);
} */