* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'europa', sans-serif;
  font-style: normal;
  font-size: 1rem!important;
}

/* For report onboarding */
.onboard {
  position: absolute;
  left: 12rem;
  display: flex;
  justify-content: flex-start;
}

.rep {
  position: relative;
  width: 7vw;
  height: 2rem;
  left: 1.5rem;
  top: 1.5rem;
  font-size: 1.5rem;
  line-height: 2.3rem;
  cursor: pointer;
}

.newrep {
  position: relative;
  width: 26vw;
  height: 15rem;
  left: 23vw;
  top: 20vh;
  right: 30vw;
}

.newrep img {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.newrep h3 {
  text-align: center;
  font-family: 'nunito';
  font-size: 28px;
  font-weight: 700;
  line-height: 36px;
  margin-top: -1.5rem;
  color: #333;
}

h3.centreCon {
  margin-top: 0;
}

.newrep p {
  font-size: 0.8rem;
  line-height: 18px;
  text-align: center;
  color: #666666;
}

.newrep .btn {
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 0.05em;
  margin-left: 6.5vw;
  /* background: linear-gradient(180deg, #2E7CFF 0%, #1B63DC 100%); */
  border-radius: 4px;
}

/* For received and sent reports */
.wholeContent {
  position: absolute;
  left: 12rem;
  width: 83vw;
}

.header {
  position: absolute;
  /* left: 1rem; */
  display: flex;
  justify-content: space-between;
  width: 87vw;
}

.header .btn {
  margin-top: 1.7rem;
  width: 7rem;
  margin-right: 2vw;
}

.searchReport {
  position: absolute;
  left: 1.5rem;
  display: flex;
  top: 5rem;
  height: 41px;
}

.repSearch {
  width: 20rem;
  background: #FFFFFF;
  border: 1px solid #AAAAAA;
  box-sizing: border-box;
  border-radius: 4px;
}

.searchReport button {
  height: 95%;
  margin-left: 0.4rem;
  border-radius: 4px;
}

.searchReport button img {
  height: 101%;
  cursor: pointer;
}

.table {
  position: relative;
  top: 5rem;
  left: 1.5rem;
}



/* For new report  folder */
.newReport {
  display: flex;
  justify-content: space-between;
  margin-top: 1.7rem;
  margin-left: 1rem;
}

.btn-default {
  color: #19B9FD;
}

.newReport .btn-primary {
  margin-right: 2rem;
}

.wholeContent textarea {
  margin: 2rem;
  border: solid 3px square;
  width: 75vw;
  height: 70vh;
}


/* For Metrics folder*/
.newMetr {
  position: absolute;
  top: 10rem;
  left: 1.5rem;
  width: 95%;
}

.newMetr label {
  width: 60px;
  height: 24px;
  left: 243px;
  top: 259px;
  font-size: 18px;
  line-height: 24px;
  color: #333;
}

.formG {
  display: flex;
  justify-content: space-around;
}

.formMet {
  /* width: 19vw; */
  /* margin-right: 1vw */
}

.newData {
  display: flex;
  justify-content: flex-start;
  margin-right: 2rem;
}

.newData a {
  font-size: 14px;
  line-height: 18px;
  color: #666666;
  text-decoration: none;
}

.newMetr hr {
  margin-top: 0.5rem;
}

div.custom {
  width: 25vw;
}

.formMett {
  position: relative;
  border: 0.5px solid #cccccc;
  width: 24.5%;
  height: 2.6rem;
  margin-right: 0.1rem;
  padding-top: 0.5rem;
  border-radius: 4px;
  margin-bottom: 2rem;
  font-size: 0.85rem;
}

div.custom {
  padding-left: 1rem;
}

.formMett .btn {
  background: linear-gradient(359.47deg, #F5F6F9 10.29%, #FFFFFF 99.27%);
  border: 1px solid #D5DCE6;
  border-radius: 4px;
  color: #333333;
  margin-right: .3rem;
  margin-top: -0.25rem;
  float: right;
  height: 2rem;
  line-height: 1rem;
  text-align: center;
  cursor: pointer;
}

.formMett .btn:hover {
  background: #eeeeee;
}

.formMett img {
  height: 1.5rem;
  margin-left: 0.3rem;
  padding-right: 0.5rem;
}

.forLabel label {
  margin-top: 2rem;
  width: 12rem;
  font-size: .8rem;
  margin-bottom: 0;
}

.bigSe {
  width: 30rem;
  display: flex;
  justify-content: space-between;
}

.smallSe {
  width: 14rem;
}

.btns {
  margin-top: 2rem;
}

.btnCancel {
  color: #333333;
  background: #FFFFFF;
  border: none;
  cursor: pointer;
  margin-left: .5rem;
}

.btnCancel a {
  color: #333333;
}

.btnCancel:hover {
  color: #222;
  background: #eee;
}


/* Table */
div.table {
  margin-left: -1.5rem;
}

thead {
  background: #eeeeee;
}
 tbody {
   cursor: pointer;
 }


/* Contact folder */
a.searchContact {
  width: 8.3rem!important;
  background-color: #007bff!important;
  border-color: #007bff;
}
